<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.contraterrene.LaunchFile"
    version="1.0.0">
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	<name>LaunchFile</name>
	<description>Launches a file from device file system. Requires iOS 6.0 or above</description>
	<keywords>local,file,open,launcher</keywords>
	<license>Apache 2.0 License</license>
	<js-module src="www/LaunchFile.js" name="LaunchFile">
		<clobbers target="LaunchFile" />
	</js-module>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="LaunchFile">
			    <param name="ios-package" value="LaunchFile"/>
			 </feature>
		</config-file>
		<header-file src="src/ios/LaunchFile.h" />
	    <source-file src="src/ios/LaunchFile.m" />		
	</platform>
</plugin>
	